# {{ .Service }}
---

| Severity | Identifier | Framework | Title | Description | Implementation | Code |
| - | - | - | - | - | - | - |{{ range $framework := .Security }}{{ range .Controls }}
| {{ if or ("High" | eq .Severity) ("Critical" | eq .Severity) }}**{{ .Severity }}**{{ else }}{{ .Severity }}{{ end }} | {{ .Identifier }} | {{ $framework.Name }} {{ $framework.Version }} | {{ .Title }} | {{ .Description }} | **{{ .Implementation.Type }}** - {{ .Implementation.Description }} | {{ .Implementation.Code }} |{{ end }}{{ end }}

## Operational Controls
---

{{ range .Operational }}
{{ end }}

## Cost Controls
---

| Severity | Identifier | Framework | Title | Description | Implementation | Code |
| - | - | - | - | - | - | - |{{ range $framework := .Cost }}{{ range .Controls }}
| {{ if or ("High" | eq .Severity) ("Critical" | eq .Severity) }}**{{ .Severity }}**{{ else }}{{ .Severity }}{{ end }} | {{ .Identifier }} | {{ $framework.Name }} {{ $framework.Version }} | {{ .Title }} | {{ .Description }} | **{{ .Implementation.Type }}** - {{ .Implementation.Description }} | {{ .Implementation.Code }} |{{ end }}{{ end }}

