# {{ .Service }}
---

{{ range .Security }}
### {{ .Name }} {{ .Version }}
| Severity | Title | Identifier | Description | Implementation | Code |
| - | - | - | - | - | - |{{ range .Controls }}
| {{ if or ("High" | eq .Severity) ("Critical" | eq .Severity) }}**{{ .Severity }}**{{ else }}{{ .Severity }}{{ end }} | {{ .Title }} | {{ .Identifier }} | {{ .Description }} | **{{ .Implementation.Type }}** - {{ .Implementation.Description }} |  |{{ end }}
{{ end }}

## Operational Controls
---

{{ range .Operational }}
{{ end }}

## Cost Controls
---

{{ range .Cost }}
### {{ .Name }} {{ .Version }}
| Severity | Title | Identifier | Description | Implementation |
| - | - | - | - | - |{{ range .Controls }}
| {{ if or ("High" | eq .Severity) ("Critical" | eq .Severity) }}**{{ .Severity }}**{{ else }}{{ .Severity }}{{ end }} | {{ .Title }} | {{ .Identifier }} | {{ .Description }} | **{{ .Implementation.Type }}** - {{ .Implementation.Description }} |{{ end }}
{{ end }}

