You should analyze the following security controls for the AWS service and identify any discrepencies between the listed control, framework, and implementation to the actual framework identifier's contents and recommended implementation. Provide suggested changes to the JSON body to resolve these discrepencies.

{{ .FileContent }}

Next, you should provide a single accuracy score evaluating the provided document against its listed frameworks and controls as a percentage out of 100. Ignore any operational controls in this evaluation.

Lastly, you should perform the same evaluations identified above onto the suggested JSON body changes produced and report on accuracy.