You should analyze the following security controls for the AWS service and identify any discrepencies between the listed control, framework, and implementation to the actual framework identifier's contents and recommended implementation. Provide changes to the JSON body to resolve these discrepencies.

{{ .FileContent }}

Ignore any operational controls in this evaluation.